body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f3f3f3;
}
input {
  margin: 4px;
  padding: 6px;
  width: 250px;
}
button {
  margin: 5px;
  padding: 8px 12px;
}
div {
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  border-radius: 8px;
}